/* App.css */
.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: lightpink;
}

/* Style for Yes and No buttons */
.button-container {
  display: flex;
  gap: 16px;
  margin-top: 20px;
}

.button-container button {
  width: 100px; /* You can adjust the width as needed */
  height: 75px;
}

/* Style for No button */
.no-button {
  background-color: red;
  color: white;
}

/* Style for Yes button */
.yes-button {
  background-color: green;
  color: white;
}

/* App.css */
.second-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.second-page img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
